<div class="tasks-section">
  <h2>Tasks list
    <button mat-icon-button color="primary" (click)="addNewTask()">
      <mat-icon aria-label="Add new task">add_circle</mat-icon>
      <!--  playlist_add-->
      <!--  add_circle-->
      <!--  library_add-->
    </button>
  </h2>

  <app-task-form *ngIf="editMode" [task]="taskToEdit"></app-task-form>

  <div class="tasks-list" *ngIf="tasksList.length">
    <div *ngFor="let task of tasksList">
      <app-tasks-list-item [task]="task"></app-tasks-list-item>

      <button mat-icon-button color="primary" (click)="editTask(task)">
        <mat-icon aria-label="Add new task">add_circle</mat-icon>
      </button>
    </div>
  </div>

</div>
