<div class="task-form">
  <mat-form-field appearance="fill">
    <mat-label>Task Name</mat-label>
    <input matInput [(ngModel)]="taskToEdit.name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="range">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="range"></mat-datepicker-toggle>
    <mat-date-range-picker #range></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Iterance</mat-label>
    <mat-select>
      <mat-option value="option">Every day</mat-option>
      <mat-option value="option">Once per...</mat-option>
      <mat-option value="option">On weekdays</mat-option>
      <mat-option value="option">On weekends</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="saveTask()"><mat-icon>save</mat-icon></button>
</div>
